<!DOCTYPE html>
<html>
  <head>
    <title>Aeros</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%= stylesheet_link_tag "aeros/application", media: "all" %>
    <%= javascript_importmap_tags "aeros/application", importmap: Aeros.importmap %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
