<div data-controller="<%= controller_name %>"
     data-<%= controller_name %>-duration-value="<%= duration %>"
     class="<%= style(variant:) %> animate-toast-enter">
  <div class="flex items-start gap-gap-lg">
    <div class="flex-shrink-0 mt-margin-xs">
      <%= lucide_icon(icon_name, class: "h-icon w-icon") %>
    </div>
    <div class="flex-1 min-w-0">
      <p class="text-ui font-weight-ui">
        <%= message %>
      </p>
    </div>
    <% if dismissible %>
      <div class="flex-shrink-0">
        <button data-action="click-><%= controller_name %>#dismiss"
                type="button"
                class="w-icon-md h-icon-md rounded-full hover:bg-secondary-hover flex items-center justify-center transition-colors">
          <span class="sr-only">Close</span>
          <%= lucide_icon("x", class: "h-icon-sm w-icon-sm") %>
        </button>
      </div>
    <% end %>
  </div>
</div>
