<% if label.present? %>
  <div class="<%= style(:container, orientation:) %>">
    <% if orientation == :horizontal %>
      <div class="absolute inset-0 flex items-center">
        <div class="<%= style(:line, orientation:) %>"></div>
      </div>
      <div class="relative flex justify-center">
        <span class="<%= style(:label_text, orientation:) %>"><%= label %></span>
      </div>
    <% else %>
      <span class="<%= style(:label_text, orientation:) %>"><%= label %></span>
      <div class="<%= style(:line, orientation:) %>"></div>
    <% end %>
  </div>
<% else %>
  <div class="<%= style(:line, orientation:) %> my-margin-xl"></div>
<% end %>
