<select
  id="<%= id %>"
  name="<%= name %>"
  class="<%= ::Aeno::FormBuilder::BaseComponent::INPUT_BASE_CLASSES.join(' ') %>"
  <%= 'disabled' if disabled %>
  <%= 'required' if required %>
  <% if data.any? %>
    <% data.each do |key, val| %>
      data-<%= key.to_s.dasherize %>="<%= val %>"
    <% end %>
  <% end %>
>
  <% if prompt %>
    <option value=""><%= prompt %></option>
  <% end %>

  <% if collection && value_method && label_method %>
    <% collection.each do |item| %>
      <option value="<%= item.send(value_method) %>" <%= 'selected' if value == item.send(value_method).to_s %>>
        <%= item.send(label_method) %>
      </option>
    <% end %>
  <% else %>
    <% options.each do |option| %>
      <%= option %>
    <% end %>
  <% end %>
</select>