<div class="flex flex-col w-full" data-controller="<%= controller_name %>">
  <div class="flex items-center justify-between py-layout space-x-space-lg">
    <div class="w-full min-w-0 truncate">
      <h1 class="flex items-center space-x-space-sm text-page-title leading-page-title font-weight-page-title text-foreground tracking-tight">
        <span class="flex-shrink truncate min-w-0 max-w-2/3"><%= title %></span>
        <% if subtitle %>
          <span class="text-muted-foreground flex-shrink-0"><%= subtitle %></span>
        <% end %>
      </h1>
      <% if description %>
        <p class="mt-2 text-page-description leading-page-description text-muted-foreground"><%= description %></p>
      <% end %>
    </div>
    <% if actions_area %>
      <div class="flex-shrink-0">
        <%= actions_area %>
      </div>
    <% end %>
  </div>

  <div class="pb-layout w-full">
    <%= content %>
  </div>
</div>