<div class="<%= style(variant:) %>" data-variant="<%= variant %>">
  <div class="flex items-start gap-gap-lg">
    <% if icon.present? %>
      <div class="flex-shrink-0 mt-margin-xs">
        <%= lucide_icon(icon, class: "w-icon h-icon") %>
      </div>
    <% end %>
    <div class="flex-1">
      <% if title.present? %>
        <h5 class="font-weight-medium mb-margin-sm"><%= title %></h5>
      <% end %>
      <div class="text-ui"><%= message %></div>
    </div>
  </div>
</div>
